[Desktop Entry]
Encoding=UTF-8
Name=Paccoin
Comment=Paccoin P2P Cryptocurrency
Comment[fr]=Paccoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Paccoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/paccoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/paccoin80.xpm
MimeType=x-scheme-handler/paccoin;
Categories=Office;
